<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th><u>Title</u></th>
      <td width="12"></td>
      <th><u>Body</u></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
          <td width="12"></td>
        <td><%= post.body %></td>
          <td width="12"></td>
        <td><%= link_to 'Show', post %></td>
        <td width="15"></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td width="15"></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<table class="btn btn-default btn-lg">
<tr><td><%= link_to 'New Post', new_post_path %> </td> </tr>
</table>
